
:root{
  --max-width--page: 90rem;
  --main-brand-color:#006341;
  --main-text-color:#060606;
  --button-color-hover:#454545;
  --bg-white:#fcfcfc;
  --bg-nav:#006340fa;
}

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  outline: 0;
  list-style: none;
  margin: 0;
  color: var(--main-text-color);
  
}

#nav-button {
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  background-color:var(--bg-white);
}

#nav-button:hover {
  background-color:var(--bg-nav);
}
#myNav>a{
  max-width: 100%;
  display: inline-block;
  font-size: 2.5rem;
  margin-left: 2.5rem;
  margin-top: 2rem;
}
.overlay{
height: 100%;
width: 0%;
background-color:var(--bg-nav);
z-index:9;
position: fixed;
left: 0;
top: 0;
overflow-x: hidden;
transition: all 0.5s;

}

.overlay-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15%;
  width: 100%;
  gap: 1rem;

}

.overlay a{
  padding: 1rem;
  color:var(--bg-white);
  font-size: 1.5rem;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus{
  color: #807b7b
}


button {
  display: inline-block;
  max-width: max-content;
  padding: 0.8rem;
  border: 1px solid var(--button-color-hover);
  border-radius: 0.25rem;
  background-color:var(--bg-white);
  font-size: 0.8rem;
}
button:hover{
  background-color: var(--button-color-hover);
  color:var(--bg-white)
}

.header-container::before{
  content: "";
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0PX;
  background: var(--bg-nav);
  height: 1rem;
  width: 100%;
}

.header-container{
  max-width: var(--max-width--page);
  padding: 1.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-logo-container{
  width: 4rem;
  height: 4rem;
}
.logo{
  width: 4rem;
  height: 4rem;
  max-width: 100%;
}
.search-container{
  display: flex; 
  position: relative;
  align-items: center;
  justify-content: center;
}
.loupe {
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  left: 9rem;
  top: 0.6rem;
  cursor: pointer;

}
input{
  height: 2rem;
}
.happy-hour-banner {
  margin: 0 auto;
  background-image: url(./src/img/bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.happy-hour-subcontainer{
  grid-column: 1fr;
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.happy-hour-title{
  font-size: 6rem;
  font-family: 'Oswald', sans-serif;
  line-height: 1.1;
}
.happy-hour-three-cups{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.happy-hour-three-cups img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.4rem solid var(--main-brand-color);
}
.first-section-general-container, 
.second-section-general-container,
.third-section-general-container,
.fourth-section-general-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
}
.first-section-text-content{
  grid-column: 1 / 2;
  grid-row: 1/ 3;
  margin: 0 auto;
  padding: 8rem;
  display:flex;
  flex-direction: column;
  gap: 2rem;
  
}
.first-section-title,
.second-section-title,
.third-section-title,
.fourth-section-title{
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  line-height: 1.1;
}
.first-section-title::before,
.second-section-title::before,
.fourth-section-title::before{
  display: block;
  content: "";
  width: 12rem;
  height: 1.2rem;
  background-color: var(--main-brand-color);
}
.first-section-paragraph, 
.second-section-paragraph, 
.third-section-paragraph, 
.fourth-section-paragraph{
  line-height: 1.5;
  max-width: 50ch;
} 

.first-section-female-smile-image{
  background-image: url(./src/img/f1.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 2 / 3;
  grid-row: 1/4;

}

.first-section-gaga-cup-image {
  background-image: url(./src/img/f2.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 1 / 2;
  grid-row: 3/ 4;
  
}

.second-section-green-image{
  background-image: url(./src/img/f3.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1/4;
}

.second-section-text-content{
  grid-column: 2 / 3;
  grid-row: 1/ 3;
  margin: 0 auto;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.second-section-white-cup-image{
  background-image: url(./src/img/f4.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 2 / 3;
  grid-row: 3/4;
}

.third-section-text-content,.fourth-section-text-content {
  grid-column: 1 / 2;
  grid-row: 1/ 4;
  margin: 0 auto;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.third-section-female-with-cup-image{
  background-image: url(./src/img/f5.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 2 / 3;
  grid-row: 1/ 4;
}
.third-section-general-container{
  background-image: url(./src/img/bg2.jpg);
  background-position: 50% 50%;
}

.fourth-section-four-cup-image{
  background-image: url(./src/img/bg3.jpg);
    background-position: center;
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 1/ 4;
}
.footer-general-container{
  height: 16rem;
  background: var(--button-color-hover);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

.social-networks-container{
  display: inline-block;
  margin: 1rem;
}
.social-networks-container a {
  display: inline-block;
  margin: 0.5rem;
}

.preference-links-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.preference-links-container a:hover {
  color: var(--bg-white);
}



@media (min-width: 1023px) and (max-width: 1440px) {
  .happy-hour-three-cups img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 0.3rem solid var(--main-brand-color);
  }
}
@media (min-width: 678px) and (max-width: 1024px){
  .happy-hour-three-cups img {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      border: 0.3rem solid var(--main-brand-color);
    }
  .first-section-text-content, 
  .second-section-text-content, 
  .third-section-text-content, 
  .fourth-section-text-content {
    padding: 4rem;
    gap: 2rem;

  }
    .first-section-title,
    .second-section-title,
    .third-section-title,
    .fourth-section-title {
      font-size: 2rem;
      font-family: 'Oswald', sans-serif;
      line-height: 1.1;
    }
}

@media (min-width:580px) and (max-width:677px){
    .happy-hour-three-cups img {
      display: flex;
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        border: 0.3rem solid var(--main-brand-color);
      }
      .first-section-general-container,
      .third-section-general-container,
      .fourth-section-general-container {
        grid-template-columns: 3fr 2fr;
      }
      .second-section-general-container{
        grid-template-columns: 2fr 3fr;
      }

      .first-section-text-content,
      .second-section-text-content,
      .third-section-text-content,
      .fourth-section-text-content {
        padding: 3rem;
        gap: 2rem;
      }
          
      .first-section-title,
       .second-section-title,
        .third-section-title,
        .fourth-section-title {
          font-size: 2rem;
          font-family: 'Oswald', sans-serif;
          line-height: 1.1;
      }
}


@media (min-width:320px) and (max-width:579px) {
  .loupe {
      width: 0.8rem;
      height: 0.8rem;
      position: absolute;
      left: 9rem;
      top: 0.4rem;
  
    }
    input {
        height: 1.5rem;
      }
  .first-section-title::before,
    .second-section-title::before,
    .fourth-section-title::before {
      display: block;
      content: "";
      width: 6rem;
      height: 1.2rem;
      background-color: var(--main-brand-color);
    }
  .happy-hour-banner {
      padding: 4rem;
      display: flex;
      grid-template-columns: 1fr 1fr;
    }
    .happy-hour-title {
      font-size: 3rem;
      font-family: 'Oswald', sans-serif;
      line-height: 1.1;
    }

  .happy-hour-three-cups img {
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 0.1rem solid var(--main-brand-color);
  }

  .first-section-general-container, .second-section-general-container{
    grid-template-columns: 1fr;

  }

  .first-section-title,
  .second-section-title,
  .third-section-title,
  .fourth-section-title {
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;

  }
  
.first-section-female-smile-image {
  display: none;  
  }

.second-section-general-container {
   grid-template-columns: 1fr
 }

.second-section-green-image {
  display: none;
}
 .third-section-general-container, 
 .fourth-section-general-container{
   grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
 }

.third-section-female-with-cup-image {
  grid-column: 1 / 2;
  grid-row: 2/ 3;
}
.third-section-text-content{
  grid-column: 1 / 2;
    grid-row: 1/ 2;
}

.fourth-section-text-content {
  grid-column: 1 / 2;
  grid-row: 1/ 2;
}
.fourth-section-four-cup-image {
  grid-column: 1 / 2;
  grid-row: 2/ 4;
}

  .first-section-text-content,
  .second-section-text-content,
  .third-section-text-content,
  .fourth-section-text-content {
    padding: 3rem;
    gap: 2rem;
  }

  .first-section-title,
  .second-section-title,
  .third-section-title,
  .fourth-section-title {
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    line-height: 1.1;
  }

}





















